<div class="content">
    <h2 mat-dialog-title style="color: black;">Thêm mới task</h2>
    <mat-dialog-content class="mat-typography" style="color: black;">
        <div style="width: 100%;">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required [(ngModel)]="title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="5" required [(ngModel)]="description"></textarea>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'">
        <button mat-button mat-dialog-close style="color: black;">Huỷ</button>
        <button mat-button style="color: black;" (click)="add_new_click()">Thêm mới</button>
    </mat-dialog-actions>
</div>