<div class="body">
  <div class="login-container">
    <div class="login-form" [formGroup]="loginForm" >
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required formControlName="password">
      </div>
      <button type="button" (click)="login_click()">Login</button>
    </div>
  </div>
</div>